doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Incredible Art

    script.
      function demo() {}

    script(src='dependencies/zepto.js', type='text/javascript')
    script(src='dependencies/underscore-min.js', type='text/javascript')
    script(src='util.coffee', type='text/javascript')
    script(src='starImage.coffee', type='text/javascript')
    script(src='webcam.coffee', type='text/javascript')
    script(src='image.coffee', type='text/javascript')
    script(src='star.coffee', type='text/javascript')
    script(src='forces.coffee', type='text/javascript')
    script(src='midi.coffee', type='text/javascript')
    script(src='#{demo}', type='text/javascript')

    style.
      body {background-color:black;overflow:hidden}
      .layer {border:0;margin:0;padding:0}
      .container {position:absolute;left:0;top:0;bottom:0;right:0}
      #frame {position:absolute;left:0;top:0;bottom:0;right:0;z-index:10;
              background-image:url('/images/circle.png');
              background-size:100% auto;
              background-repeat:no-repeat}
      video {border:1px solid red}

    script.
      function init(starImage) {
        Star.prototype.starImage = starImage
        resize();
        demo();
      }
      function resize() {
        canvas = $('.layer')[0]
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;
        Star.prototype.setCanvas(canvas);
      }

  body(onLoad="loadStarImage(init)", onresize="resize()")
    .container
      canvas.layer(width="1000", height="1000")
      canvas#secret(width="1000", height="500")
      video#video(width="320", height="240")
      canvas#videodump(width="320", height="240")
