doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Incredible Art

    link(href='dependencies/style.css', rel='stylesheet')
    script(src='dependencies/zepto.js', type='text/javascript')
    script(src='dependencies/less.js', type='text/javascript')

    script(src='lib/main.js', type='text/javascript')

  body(onload="(window.onLoad||function(){console.warn('no onWindowLoad function')})()")
    .container
      canvas.layer(width="500", height="500")