doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Incredible Art


    script(src='main.js', type='text/javascript')

  body(onload="(window.onLoad||function(){console.warn('no onWindowLoad function')})()")
    div Incredible Art